$inputShadow:0 4px 11px rgba(0, 0, 0, 0.04);
$boxShadow: 0 4px 11px rgba(0, 0, 0, 0.04);
$buttonShadow: 0 4px 11px rgba(47, 102, 249, 0.31);
body {
    background: #FcFcFc;
}

.start_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .start_description_elm {
        flex: 0 1 auto;
        max-width: 65%;
    }
    .start_text_elm {
        max-width: 65%;
        font-size: 16px;
        p {
            font-size: 24px;
        }
    }
    .start_authorization_block {
        flex: 0 1 auto;
        max-width: 35%;
        form {
            div {
                input {
                    border-radius: 1.25rem;
                    box-shadow: $inputShadow;
                    border: 1px solid #ffffff;
                    font-size: 12px;
                    padding-left: 2em;
                    color: #919BB1;
                }
            }
            .regulations {
                padding-left: 0;
                .cbx {
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: pointer;
                }
                .cbx span {
                    display: inline-block;
                    vertical-align: middle;
                    transform: translate3d(0, 0, 0);
                }
                .cbx span:first-child {
                    position: relative;
                    width: 18px;
                    height: 18px;
                    border-radius: 3px;
                    transform: scale(1);
                    vertical-align: middle;
                    border: 1px solid #9098A9;
                    transition: all 0.2s ease;
                }
                .cbx span:first-child svg {
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    fill: none;
                    stroke: #FFFFFF;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 16px;
                    stroke-dashoffset: 16px;
                    transition: all 0.3s ease;
                    transition-delay: 0.1s;
                    transform: translate3d(0, 0, 0);
                }
                .cbx span:first-child:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #506EEC;
                    display: block;
                    transform: scale(0);
                    opacity: 1;
                    border-radius: 50%;
                }
                .cbx span:last-child {
                    @media (max-width: 992px) {
                        .random {
                            position: absolute;
                            opacity: 0;
                            z-index: -9999999999;
                        }
                    }
                    padding-left: 0.5em;
                }
                .cbx:hover span:first-child {
                    border-color: #506EEC;
                }
                .inp-cbx:checked+.cbx span:first-child {
                    background: #506EEC;
                    border-color: #506EEC;
                    animation: wave 0.4s ease;
                }
                .inp-cbx:checked+.cbx span:first-child svg {
                    stroke-dashoffset: 0;
                }
                .inp-cbx:checked+.cbx span:first-child:before {
                    transform: scale(3.5);
                    opacity: 0;
                    transition: all 0.6s ease;
                }
                @keyframes wave {
                    50% {
                        transform: scale(0.9);
                    }
                }
                input {
                    margin-top: 0.2rem;
                }
                font-size: 13px;
                label {
                    color: #919BB1;
                    a {
                        text-decoration: underline;
                        color: #919BB1;
                    }
                }
            }
            button {
                border-radius: 1.25rem;
                background-color: #2F66F9;
                font-size: 13px;
            }
            .buttons {
                padding-top: 1em;
                a {
                    font-size: 13px;
                    color: #919BB1;
                    text-decoration: underline;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    @media (max-width: 992px) {
        flex-direction: column;
        .start_description_elm {
            max-width: 100%;
        }
        .start_text_elm {
            max-width: 100%;
        }
        .start_authorization_block {
            padding-top: 2em;
            min-width: 100%;
            & form .regulations {
                font-size: 0.8em;
            }
            .buttons {
                padding-top: 1em;
                display: flex;
                flex-direction: column-reverse;
                a {
                    padding-top: 1em;
                    text-align: center;
                }
            }
        }
    }
}

.table_block {
    padding-top: 2em;
    .table_navigator_elm {
        nav {
            padding-left: 2em;
            display: flex;
            justify-content: flex-start;
            border-radius: 11px;
            ;
            max-height: 76px;
            background-color: #ffffff;
            box-shadow: $inputShadow;
            min-height: 76px;
            height: 100%;
            flex-direction: row;
            align-items: center;
            padding-bottom: 0;
            a {
                align-self: flex-end;
                padding-bottom: 24px;
                height: 100%;
                font-size: 16px;
                color: #2e3a66;
            }
            .active {
                border-bottom: solid 1px;
                border-bottom-color: #2e3a66;
            }
            a:hover {
                border-bottom: solid 1px;
                border-bottom-color: #2e3a66;
            }
        }
    }
    .table_result_elm {
        padding-top: 2em;
        table {
            thead,
            tbody {
                th {
                    border: 1px solid transparent;
                    font-weight: inherit;
                }
                tr,
                td {
                    border: 1px solid transparent;
                }
            }
            border-spacing: 0;
            border-color: transparent;
            font-size: 16px;
        }
    }
    @media (max-width: 992px) {
        .table_navigator_elm {
            nav {
                max-height: 76px;
                flex-wrap: nowrap;
                a {
                    align-self: flex-end;
                    padding-bottom: 24px;
                }
            }
        }
        .table_result_elm {
            white-space: nowrap;
            overflow-y: scroll;
        }
    }
    .work_result_elm {
        padding: 1em 2em;
        font-size: 16px;
        word-wrap: break-word;
        p {
            word-wrap: break-word;
        }
        ul {
            padding-left: 0.3em;
            list-style: none;
            li {
                padding: 0;
            }
        }
        ul li:before {
            content: "—";
            position: relative;
            left: -5px;
        }
        .chisla {
            word-wrap: break-word;
            font-size: 12px;
        }
    }
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    .game_block {
        flex: 0 0 40%;
        .bonus_block {
            .bonus_nav {
                padding-bottom: 1.5em;
                nav {
                    @media (max-width: 992px) {
                        height: 103px;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        a {
                            flex: 0 0 50%;
                        }
                        .bonus_navbar {
                            flex: 0 0 50%;
                            opacity: 0.4;
                            display: flex;
                            justify-content: flex-start;
                            flex-direction: column;
                            align-items: flex-end;
                        }
                    }
                    border-radius: 11px;
                    height: 76px;
                    box-shadow: $boxShadow;
                    a {
                        font-size: 18px;
                    }
                    .bonus_navbar {
                        a {
                            color: #2e3a66;
                            font-size: 14px;
                        }
                    }
                }
            }
            .bonus {
                padding-left: 1.5em;
                padding-right: 1.5em;
                box-shadow: $boxShadow;
                display: flex;
                flex-direction: column;
                padding-bottom: 3em;
                max-height: 266px;
                border-radius: 11px;
                p {
                    padding-top: 1em;
                    font-size: 18px;
                }
                ul {
                    padding-left: 1em;
                    font-size: 16px;
                    list-style: decimal;
                }
                input {
                    font-size: 12px;
                    border-radius: 1.3rem;
                    height: 43px;
                    box-shadow: $inputShadow;
                    border-color: white;
                }
                div {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    padding: 1.5em 0 0 0;
                    height: 43px;
                    @media (max-width: 992px) {

                        justify-content: center;
                        
                    }
                    button {
                        @media (max-width: 992px) {
                            width: 100%;
                        }
                        box-shadow: $buttonShadow;
                        height: 43px;
                        width: 40%;
                        border-radius: 1.3rem;
                    }
                }
            }
        }
        .rate_block {
            padding-left: 1.5em;
            padding-right: 1.5em;
            margin-top: 1.5em;
            box-shadow: $boxShadow;
            display: flex;
            flex-direction: column;
            max-height: 346px;
            border-radius: 11px;
            p {
                padding-top: 1em;
                font-size: 18px;
            }
            .rate_summ {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                .summa {
                    width: 50%;
                    input {
                        box-shadow: $inputShadow;
                        border-color: white;
                        border-radius: 1.4rem;
                        font-size: 12px;
                        height: 42px;
                    }
                }
                .chance_block {
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    span {}
                    .chance {}
                    
                }
                @media (max-width: 992px) {
                    justify-content: center;
                    flex-direction: column;
                    .summa{
                        width: 100%;
                        padding-bottom: 1.5em;
                    }
                    .chance_block{
                        width: 100%;
                        padding-bottom: 1.5em;
                    }
                }
                
            }
            .chtoto {
                padding: 1em 0;
                .asRange {
                    width: 100%;
                    background: #F0EEEE;
                    height: 14px;
                    .asRange-pointer {
                        width: 16px;
                        height: 16px;
                    }
                    .asRange-pointer::before {
                        top: -2px;
                        right: -2px;
                        bottom: -2px;
                        left: -2px;
                        background: #2F66F9;
                        box-shadow: 0 2px 7px rgba(47, 102, 249, 0.19);
                    }
                    .asRange-selected {
                        height: 14px;
                        background: linear-gradient(#6272ff, #72a8ff);
                        border-radius: 1em 0 0 1em;
                    }
                }
            }
            .win {
                
                span {
                    font-size: 12px;
                }
                .money {
                    padding-left: 1em;
                    font-size: 18px;
                }
                @media (max-width: 992px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1em;
                }
            }
            .rate_button {
                padding-top: 1.5em;
                display: flex;
                justify-content: space-around;
                button {
                    box-shadow: $buttonShadow;
                    font-size: 13px;
                    flex: 0 0 47%;
                    border-radius: 1.4em;
                    height: 43px;
                }
                @media (max-width: 992px) {
                    justify-content: center;
                    flex-direction: column;
                    button{
                        flex: 0 0 100%;
                        margin-bottom: 1em;
                    }
                }
            }
            .autoclick {
                padding: 2em 0 1em;
                display: flex;
                justify-content: center;
                color: #B7BECC;
            }
        }
    }
    .game_table_block {
        padding: 0 0 0 3em;
        
        flex: 0 0 60%;
        @media (max-width: 992px) {
            padding: 0;
            flex: 0 0 100%;
        }
        .game_table_navigator_elm {
            height: 76px;
            nav {
                height: 76px;
                border-radius: 11px;
                box-shadow: $boxShadow;
                a {
                    color: #2e3a66;
                }
                span {
                    
                    opacity: 0.4;
                    @media (max-width: 992px) {
                        position: absolute;
                        opacity: 0;
                    }
                }
                
                    
                
            }
        }
        .game_table {
            padding-top: 1em;
            table {
                thead,
                tbody {
                    th {
                        
                        border: 1px solid transparent;
                        font-weight: inherit;
                    }
                    tr,
                    td {
                        border: 1px solid transparent;
                    }
                }
                border-spacing: 0;
                border-color: transparent;
                font-size: 16px;
                width: 100%;
                
            }
            
        }
        @media (max-width: 992px) {
            .game_table {
                white-space: nowrap;
                overflow-y: scroll;
            }
        }
    }
}